body {
    background-color: white;
    min-height: 100vh;
}

.navbar {
    background: rgba(3, 105, 161, 0.9);
    backdrop-filter: blur(10px);
}

.navbar-brand,
.nav-link {
    color: white !important;
    font-weight: 500;
}

.nav-link:hover {
    color: #67e8f9 !important;
}

.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: white;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 35px rgba(0, 0, 0, 0.2);
}

.card-img-top {
    border-radius: 15px 15px 0 0;
    height: 250px;
    object-fit:contain;
}

.price {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 15px 0;
}

.btn-add-cart {
    background-color: rgb(26, 89, 148);
    border: none;
    border-radius: 25px;
    padding: 10px 25px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    transition: all 0.3s ease;
    width: 100%;
}

.container-custom {
    padding: 50px 0;
}

.card-title {
    font-weight: 600;
    margin-bottom: 10px;
}
